<h1>Create New Article Here</h1>

<%= form_for(@article) do |form| %>
  
  <div class="label">
    <%= form.label :Your_Title %>
    <%= form.text_field :title %>
  </div>

  <div class="message">
    <%= form.label :Your_Message %>
    <%= form.text_area :body %>
  </div>

  <div class="action">
    <%= form.submit %>
  </div>
<% end %>